params {
    help = false
    timestamp = null
    samplesheet = null
    output_dir  = "./results"
    run = 'pipeline'

    bind_path    = null
    account_name = null
    singularity_cache = null
    tmp_dir = null
    GRCh38 = "/g/gcbio/2025_lr_pangenome/ref/GCA_000001405.15_GRCh38_no_alt_analysis_set.fa"
    CHM13 = "/g/gcbio/2025_lr_pangenome/ref/chm13v2.0_maskedY_rCRS.fa"
    genes = null
    vep_cache = "/g/modbase/aml/tools/ensembl-vep/"
}

profiles {

    local {

        process {
            executor = 'local'
        }

    }

    slurm {

        process {
            executor = 'slurm'

        withLabel: big_job { 
            clusterOptions = '--partition=htc-el8 --cpus-per-task=32 --mem=128G' 
            cpus = 32 
            memory = '128G' 
            time = '96h'
            } 

        withLabel: medium_job {
            clusterOptions = '--partition=htc-el8 --cpus-per-task=8 --mem=32G' 
            cpus = 8 
            memory = '32G'
            time = '48h' 
            } 
        withLabel: small_job {
            clusterOptions = '--partition=htc-el8 --cpus-per-task=4 --mem=4G' 
            cpus = 4 
            memory = '4G'
            time = '24h' 
            } 
        }
    }
}

process {
    errorStrategy = 'terminate'
    cache = 'lenient'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'

  withName:BAMTOFQ { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:INDEX { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:ALIGN { container = "minimap2_latest.sif" }  
  withName:ALIGN_GRCh38 { container = "minimap2_latest.sif" }  
  withName:ALIGN_CHM13 { container = "minimap2_latest.sif" }  
  withName:SAMTOOLS_SORT { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
  withName:GRCh38_SORT { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" }
  withName:CHM13_SORT { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" }
  withName:DELLY_SV { container = "delly_v2.1.0.sif" } 
  withName:SEVERUS_SV { container = "severus_1.6.1.sif" } 
  withName:CLAIRS_TO { container = "clairs-to_latest.sif" } 
  withName:DEEPSOMATIC { container = "deepsomatic_1.10.0.sif" } 
  withName:VEP_SV { container = "ensembl-vep_latest.sif" }
  withName:VEP_SNV { container = "ensembl-vep_latest.sif" }  
  } 
  

dag { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_dag.html" 
  overwrite = false 
  } 

timeline { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_timeline.html" 
  overwrite = false 
  } 

report { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_report.html" 
  overwrite = false 
  } 
  
trace { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_trace.txt" 
  overwrite = false 
  } 
  
env.ALLOWED = ['APPTAINER_TMPDIR', 'NXF_APPTAINER_CACHEDIR'] 

apptainer { 
  enabled = true 
  autoMounts = true 
  runOptions = "-B ${params.bind_path}" 
  }