params {
    help = false
    timestamp = null
    samplesheet = null
    output_dir  = "./results"
    run = 'pipeline'

    bind_path    = null
    account_name = null
    singularity_cache = null
    minimap2_params = "-a -x lr:hqae -Y --MD --eqx -L -k 17"
}

profiles {

    local {

        process {
            executor = 'local'
        }

    }

    slurm {

        process {
            executor = 'slurm'

        withLabel: big_job { 
            clusterOptions = '--partition=htc-el8 --cpus-per-task=8 --mem=128G' 
            cpus = 8 
            memory = '128G' 
            } 

        withLabel: medium_job {
            clusterOptions = '--partition=htc-el8 --cpus-per-task=8 --mem=16G' 
            cpus = 8 
            memory = '16G' 
            } 
        withLabel: small_job {
            clusterOptions = '--partition=htc-el8 --cpus-per-task=4 --mem=4G' 
            cpus = 4 
            memory = '4G' 
            } 
        }
    }
}

process {
    errorStrategy = 'terminate'
    cache = 'lenient'
    stageInMode = 'symlink'
    stageOutMode = 'rsync'

  withName:BAMTOFQ { container = "https://depot.galaxyproject.org/singularity/samtools:1.17--hd87286a_1" } 
      
  } 
  

dag { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_dag.html" 
  overwrite = false 
  } 

timeline { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_timeline.html" 
  overwrite = false 
  } 

report { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_report.html" 
  overwrite = false 
  } 
  
trace { 
  enabled = true 
  file = "${params.output_dir}/execution/${params.timestamp}_trace.txt" 
  overwrite = false 
  } 
  
env.ALLOWED = ['APPTAINER_TMPDIR', 'NXF_APPTAINER_CACHEDIR'] 

apptainer { 
  enabled = true 
  autoMounts = true 
  runOptions = "-B ${params.bind_path}" 
  }